{% extends "layout/base.html" %}
{% block title %}User List{% endblock %}


{% block 'content' %}
{% include "includes/Sidebar.html" %}
{% include "includes/ToastMessage.html" %}
<div class="p-2 sm:ml-64 mt-16 md:mt-14">
    <h2 class="text-2xl font-bold mb-4">User List</h2>
    <table class="min-w-full bg-white shadow-md rounded">
        <thead class="bg-blue-600 text-white">
            <tr>
                <th class="py-2 px-4">Profile</th>
                <th class="py-2 px-4">Fullname</th>
                <th class="py-2 px-4">Gender</th>
                <th class="py-2 px-4">Address</th>
                <th class="py-2 px-4">Birth Date</th>
                <th class="py-2 px-4">Contact</th>
                <th class="py-2 px-4">Email</th>
                <th class="py-2 px-4">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr class="border-b hover:bg-gray-100">
                <td class="py-2 px-4">
                    {% if user.profile %}
                        <img src="{{ user.profile.url }}" alt="Profile Picture" class="h-11 w-11 rounded-full" />
                    {% else %}
                        <span class="h-11 w-11 rounded-full">No picture</span>
                    {% endif %}
                </td>
                <td class="py-2 px-4">{{ user.full_name }}</td>
                <td class="py-2 px-4">{{ user.gender.gender }}</td>
                <td class="py-2 px-4">{{ user.address }}</td>
                <td class="py-2 px-4">{{ user.birth_date }}</td>
                <td class="py-2 px-4">{{ user.contact_number }}</td>
                <td class="py-2 px-4">{{ user.email }}</td>
                <td class="py-2 px-4">
                    <a href="/user/edit/{{ user.user_id }}" class="text-blue-600 hover:underline">Edit</a>
                    <a href="#" class="text-red-600 hover:underline">Delete</a>
                </td>
                
            </tr>
            {% empty %}
            <tr>
                <td colspan="8" class="text-center py-4 text-gray-500">No users found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock 'content' %}